p {
    background: pink;
    color: indigo;}

    .creativeblock {
        width: 50px;
        height: auto;
        }

        .creativeblock {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,
            -50%);
            }



     .headerpg1 {
        width: 100%;        /* Make the image take the full width of the viewport */
        height: auto;       /* Automatically adjust the height to maintain aspect ratio */
        max-width: 100%;    /* Ensure the image doesn't stretch beyond its natural width */
        transition: opacity 0.5s ease-out; /* Smooth transition for opacity (if needed) */
    }
    #apple {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centers the image */
        width: 400px; /* Adjust width as needed */
        height: auto;
        margin-top: 70px;
        transition: opacity 0.3s ease;
    }
